.login-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../../../images/屏幕快照.png);
  background-repeat: no-repeat;
  .input-login-info {
    position: relative;
    left: 55%;
    top: 20%;
    width: 32%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 6px;
    .layout {
      list-style: none;
      display: flex;
      flex-direction: column;
      height: 100%;
      li {
        height: 33.3%;
      }
    }
  }
}
